   :root {
            --primary: #7eb9d6;
            --primary-dark: #0088cc;
            --secondary: #ff6b6b;
            --dark: #161616;
            --darker: #111111;
            --light: #ffffff;
            --gray: #a79f9f;
            --dark-gray: #20202033;
            --border: #353535;
        }

        * {
            box-sizing: border-box;
        }

        body {
            line-height: 1.6;
            font-family: 'Inter', sans-serif;
            background-color: var(--darker);
            color: var(--light);
            max-width: 900px;
            margin: 0 auto;
            overflow-wrap: break-word;
            word-wrap: break-word;
        }

        .container {
            max-width: 1200px;
            margin: auto;
            padding: 20px;
        }

        header {
            padding: 50px;
            text-align: left;
            margin-top: 3px;
            position: relative;
            overflow: hidden;
            border-bottom: 1px solid var(--primary);
            opacity: 0; 
        }

        header h1 {
            font-size: 3rem;
            margin: 1px;
            color: var(--primary);
            letter-spacing: 2px;
        }

        .section {
            border-radius: 8px;
            padding: 30px;
            margin: 30px 0;
            border: 2px solid var(--primary);
            opacity: 0;
        }

        h2 {
            color: var(--primary);
            font-size: 25px;
            margin-bottom: 20px;
            position: relative;
            display: inline-block;
            font-style: italic
        }

        .links a {
            color: var(--light);
            text-decoration: none;
            display: inline-block;
            margin: 10px 15px 10px 0;
            padding: 8px 15px;
            border-bottom: 2px solid var(--primary);
            transition: all 0.2s ease;
        }

        .links a:hover {
            background-color: var(--primary);
            color: var(--dark);
        }

        a {
            color: var(--primary)
        }

        footer {
            text-align: center;
            margin-top: 50px;
            padding: 20px;
            border-top: 1px solid var(--primary);
            font-size: 17px;
            opacity: 0;
        }
        @media (max-width: 768px) {
            header {
                padding: 30px 20px; 
            }
            header h1 {
                font-size: 2rem; 
            }
            .section {
                padding: 20px; 
                margin: 20px 0;
            }
            .links a {
                display: block; 
                margin: 10px 0;
                text-align: center;
            }
        }
